---
layout: default
title: Eat moon and Use magic
---

<h3> About Me </h3>

Welcome, and thanks for reading.

I am Chen Zeyuan, currently a graduate student at Uppsala University, majoring in Social Science.
I am interested in quantitative methods, especially in causal inference technique.

I am focused on the research and theories about knowledge production and social movements, and trying combining qual and
quant methods to gain insights.

I love cooking, reading and language learning.

I post related blogs and projects here.
Sometimes I will share my translations (from english/french to chinese) of articles on
french philosophy, and sometimes I will share my recipes.


<h3> Posts </h3>

{% for post in site.posts %}

{% if post.external_url == nil %}
<a>{{ post.category }}: </a><a href="{{ post.url }}">{{ post.title }} </a><abbr>{{ post.date | date_to_string
    }}</abbr><br>
{% else %}
<a>{{ post.category }}: </a><a href="{{ post.external_url }}">{{ post.title }} </a><abbr>{{ post.date | date_to_string
    }}</abbr><br>
{% endif %}

{% endfor %}