<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>

<body>

    <!-- 导航栏 -->
    {% include nav.html %}

    <main>
        <h1>Blogs list</h1>

        <section id="posts">
            <h2>By date</h2>
            <ul>
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <span>{{ post.date | date: "%Y-%m-%d" }}</span>
                    <p><small>{{ post.excerpt }}</small></p> <!-- 可选，显示摘录 -->
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="tags">
            <h2>By tags</h2>
            <ul>
                {% assign blog_posts = site.posts | where: 'type', 'blog' %}
                {% assign tags = blog_posts | map: 'tags' | flatten | uniq %}
                {% for tag in tags %}
                <li>
                    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a> <!-- 替换为你的标签页面链接 -->
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <!-- 页脚 -->
    {% include footer.html %}

</body>

</html>