---
layout: default
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{{ page.title }}</title>
    <style>

        .custom-button {
            background-color: #e6f2e6; /* 浅暖绿色 */
            border: 1px solid #b8bec1; /* 灰色边框 */
            color: #333333; /* 深灰文字 */
            padding: 0.4rem 0.8rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.95rem;
            text-decoration: none;
        }

        .custom-button:hover {
            background-color: #d0e5d0; /* hover 时颜色稍深 */
        }

    </style>

    <!-- Add MathJax CDN Script -->
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    <!-- Configure MathJax to recognize $...$ as inline math -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']]
            }
        };
    </script>
</head>

<body>
    <div id="post">
        <h2 style="margin-top:0;">{{ page.title }}</h2>
        <div id="date">published {{ page.date | date_to_string }}</div>
        {{ content }}
    </div>
</body>

</html>